<!-- div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 d-flex flex-wrap align-items-center"><img src="assets/img/book_logo.png" class="mr-2 align-content-center" width="60" height="60" alt="logo">Le Diko</h1>
    <p class="lead text-justify">Le dictionnaire d'associations lexicales contributif et libre de JeuxDeMots</p>
  </div>
</div-->


<!-- IL N' Y A RIEN ICI

Avec le routage on ne passe pas par la :

Il faut modifier research form et result pour le design si jamais

-->
