.border-4 {
  border-width:4px !important;
}

.animeHover {
  position: relative;
}

.overlayPerso {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #755139;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.animeHover:hover .overlayPerso {
  width: 100%;
}

.raffinement{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  white-space: nowrap;
  text-decoration: none;
}
